[submodule "third_party/triton"]
	path = third_party/triton
	url = git@github.com:triton-lang/triton.git
	branch = main
	ignore = dirty
[submodule "third_party/FlagGems"]
	path = third_party/FlagGems
	url = git@github.com:flagos-ai/FlagGems.git
	ignore = dirty
